<mat-card class="card">
    <mat-card-title>Alterar herói</mat-card-title>
    <form>
        <mat-form-field class="field">
            <input matInput placeholder="Nome" [(ngModel)]="hero.name" name="name">
        </mat-form-field>

        <mat-form-field class="field">
            <mat-select [(value)]="hero.race">
                <mat-option value="HUMAN">HUMAN</mat-option>
                <mat-option value="ALIEN">ALIEN</mat-option>
                <mat-option value="DIVINE">DIVINE</mat-option>
                <mat-option value="CYBORG">CYBORG</mat-option>
            </mat-select>
        </mat-form-field>

        <section>
            <mat-form-field class="field">
                <input matInput type="number" placeholder="Força (min: 0 / max: 10)" [(ngModel)]="hero.strength" name="strength" min="0" max="10">
            </mat-form-field>
            <mat-form-field class="field">
                <input matInput type="number" placeholder="Agilidade (min: 0 / max: 10)" [(ngModel)]="hero.agility" name="agility" min="0" max="10">
            </mat-form-field>
            <mat-form-field class="field">
                <input matInput type="number" placeholder="Destreza (min: 0 / max: 10)" [(ngModel)]="hero.dexterity" name="dexterity" min="0" max="10">
            </mat-form-field>
            <mat-form-field class="field">
                <input matInput type="number" placeholder="Inteligência (min: 0 / max: 10)" [(ngModel)]="hero.intelligence" name="intelligence" min="0" max="10">
            </mat-form-field>
        </section>
    </form>

    <mat-card-actions>
        <button class="save-button" mat-raised-button (click)="updateHero()" color="primary">
            Salvar alteração
        </button>
        
        <button class="cancel-button" mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </mat-card-actions>
</mat-card>